<!-- <hr>
{% if user.is_authenticated %}
    <p>로그인 상태</p>
    <a href="{% url 'member:logout' %}">로그아웃</a>
{% else %}
    <p>미로그인 상태</p>
    <a href="{% url 'member:login' %}">로그인</a>
    <a href="{% url 'member:singup' %}">회원가입</a>
{% endif %}
<hr> -->

<h1>Main Page</h1>

{% for invitation in invitations %}
    {{ invitation.id }}<br>
    {{ invitation.invitation_title }}<br>
    {{ invitation.invitation_writer }}<br>
    {{ invitation.invitation_input_date }}<br>
    {{ invitation.invitation_content }}<br>
{% endfor %}


<p><a href="{% url 'main:create' %}">New Post</a></p>

 <ul>
    <li>Step 1 초대장 리스트</li>
    <ol><a href="">객체 1</a></ol>
 </ul>