<!-- <hr>
{% if user.is_authenticated %}
    <p>로그인 상태</p>
    <a href="{% url 'member:logout' %}">로그아웃</a>
{% else %}
    <p>미로그인 상태</p>
    <a href="{% url 'member:login' %}">로그인</a>
    <a href="{% url 'member:singup' %}">회원가입</a>
{% endif %}
<hr> -->

<h1>Main Page</h1>

<p><a href="{% url 'main:create' %}">New Post</a></p>

{% for invitation in invitations %}
    <p>ID : {{ invitation.id }}</p>
    <p>Title : {{ invitation.invi_title }}</p>
    <p>Writer : {{ invitation.invi_writer }}</p>
    <p>InputDate : {{ invitation.invi_input_date }}</p>
    <p>Content : {{ invitation.invi_content }}</p>
{% endfor %}